<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="header">
        <h1>{% block header %}My Django Project{% endblock %}</h1>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>



</body>
</html>
